/* *{
    font-family: "San Francisco";
    box-sizing: border-box;
    margin: 0px;
    direction: ltr;
}
nav {
 background-color: aqua;
    padding: 15px;
width: 100%;
    
}
nav>ul {
   display: flex;
     gap: 34px; 
     justify-content: center;
     align-items: center;
     
}
nav>ul>li{
    list-style: none; 
   text-align: center;
}
nav>ul>li>a{
    text-decoration: none;
     color: black;
}
a :hover{
    cursor: pointer;
}
main{
    width: 100%;
    background-image: url( image/hero_bts_2025__kjxalx8t7ia2_large.jpg);
    height: 100vh;
    margin: 0px;
    background-size: cover;
background-position: center;
background-repeat: no-repeat;
color: white;
    
}
main>div>h1>sup{
    font-size: 15px;
    
}
main>div>h1{
    
}
main>div{
    background-color: #007aff;
    text-align: justify;
    margin: auto;
    border-radius: 20px;
    margin: 10px auto;
    width: 16%;
    
} */
