*{
    font-family: "San Francisco";
    box-sizing: border-box;
    margin: 0px;
    direction: ltr;
}
nav {
 background-color: aqua;
    padding: 15px;
width: 100%;
    
}
nav>ul {
   display: flex;
     gap: 34px; 
     justify-content: center;
     align-items: center;
     
}
nav>ul>li{
    list-style: none; 
   text-align: center;
}
nav>ul>li>a{
    text-decoration: none;
     color: black;
}
a :hover{
    cursor: pointer;
}
main{
  background-image: url(image/hero_bts_2025__kjxalx8t7ia2_large.jpg);
  width: 100%;
  padding: 150px;
  /* display: flex; */
}
main>h1{
    margin: 0px auto;
    padding: 0px;
    width: 35%;
    display: flex;
        justify-content: center;
    display: flex;
    border: 1px solid #007AFF;
    color: #ffffff;
    background-color: #007AFF;
    text-align: center;
    border-radius: 50px;
    font-size: 60px;
}
 